body {
  margin-top: 10%;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  margin: 50px 100px;
}

span#secondsElapsed {
  font-weight: bold;
  font-size: 2em;
}

.labelBox {
  padding: 10px;
  font-size: 2em;
  background-color: #eeeeee;
}
